@media (min-width: 320px) {
    body {
        background-color: red;
    }

    .resize {
        background-color: black;
        height: 100px;
        width: 100px;
    }

    .reposition {
        background-color: lawngreen;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 30px;
        right: 150px;
    }
}

@media (min-width: 480px) {
    body {
        background-color: orange;
    }

    .resize {
        background-color: black;
        height: 300px;
        width: 300px;
    }
    .reposition {
        background-color: lightcoral;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 50px;
        right: 100px;
    }
}

@media (min-width: 600px) {
    body {
        background-color: yellow;
    }

    .resize {
        background-color: black;
        height: 500px;
        width: 500px;
    }
    .reposition {
        background-color: lightgreen;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 150px;
        right: 200px;
    }
}

@media (min-width: 801px) {
    body {
        background-color: green;
    }

    .resize {
        background-color: black;
        height: 700px;
        width: 700px;
    }
    .reposition {
        background-color: darkblue;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 200px;
        right: 300px;
    }
}

@media (min-width: 1025px) {
    body {
        background-color: blue;
    }

    .resize {
        background-color: black;
        height: 900px;
        width: 900px;
    }
    .reposition {
        background-color: darkred;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 400px;
        right: 400px;
    }
}

@media (min-width: 1281px) {
    body {
        background-color: purple;
    }

    .resize {
        background-color: black;
        height: 1100px;
        width: 1100px;
    }
    .reposition {
        background-color: darkgrey;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 500px;
        right: 500px;
    }
}